  /* navbar */
  nav {
    font-size: 18px;
    position: absolute;
    z-index: 1;
  }

  /* my name  */
  h1 {
    color: #413125;
    opacity: 80%;
    position: absolute;
    z-index: 1;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin-top: 5%;
    margin-left: 40%;
  }


  /* footer with icons/links */
  footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    justify-content: center;
  }

  /* about me title */
  h5{
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  /* background image */
.backgroundimg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

  .nav-link:hover{
    color: #3a713c;
  }
 
  .contactform {
    display: flex;
    color: #413125;
    font-family: 'Sacramento', cursive;
    position: absolute;
    z-index: 0;
    font-weight: 500;
    font-size: 32px;
    margin-top: 12%;
    margin-left: 38%;
  }

  /* form border and font */
.form-control{
  position: absolute;
  z-index: 0;
  border-width: 2px;
  border-color: #413125;
}
.form-control-sm, .form-control{
  font-family: serif;
}

/* icons */
.icons {
    margin-bottom: 2%;
}

.fa-brands{
    color: #3a713c;
}

/* about me card */
#aboutmecard {
    color: #413125;
    position: absolute;
    z-index: 2;
    margin-top: 15%;
    /* need to figure out how to center this properly */
    margin-left: 55%;
    box-shadow: 5px 5px 18px #413125;
    }

/* submit button contact form */
#messagebtn{
  position: absolute;
  z-index: 1;
  font-family: serif;
  margin-top: 50%;
  background-color: #3a713c;
}

#selectbtn {
 background-color: #3a713c;
 margin-left: 35%;
}

#about-me{
 display: flex;
 }

#icons {
  justify-content: center;
}

#flickscard {
  font-size: 15px;
  position: absolute;
  margin-top: 12%;
  margin-left: 20%;
  box-shadow: 5px 5px 18px #413125;
}

#weathercard {
  font-size: 15px;
  position: absolute;
  margin-top: 12%;
  margin-left: 40%;
  box-shadow: 5px 5px 18px #413125;
}

#storylinescard {
  font-size: 15px;
  position: absolute;
  margin-top: 12%;
  margin-left: 60%;
  box-shadow: 5px 5px 18px #413125;
}

#employeetrackercard {
  font-size: 15px;
  position: absolute;
  margin-top: 35%;
  margin-left: 20%;
  box-shadow: 5px 5px 18px #413125;
}

#codequizcard {
  font-size: 15px;
  position: absolute;
  margin-top: 35%;
  margin-left: 40%;
  box-shadow: 5px 5px 18px #413125;
}

#flicks-title, #weatherdashtitle, #storylinestitle, #employeetrackertitle, #codequiztitle {
  font-size: 25px;
  font-weight: 600;
}
  
/*portfolio image of me 
I cant get my profile image to stay centered when trying to make it mobile responsive */
  #me {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    width: 17%;
    height: auto;
    border-radius: 50%;
    display: block;
    transform: rotate(18deg);
    margin-top: 15%;
    margin-left: 33%;
  }