/* background image */
img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    box-shadow: 2px 2px 18px #413125;
  }

  /* navbar */
  nav {
    font-size: 18px;
    position: absolute;
    z-index: 1;
  }

  .nav-link:hover{
    color: #3a713c;
  }
  /* my name  */
  h1 {
    color: #413125;
    opacity: 80%;
    position: absolute;
    z-index: 1;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin-top: 5%;
    margin-left: 40%;
  }

  /* footer with icons/links */
  footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    justify-content: center;
  }

  /* about me title */
  h5{
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  /* about me card */
  .card {
    color: #413125;
    position: absolute;
    z-index: 2;
    margin-top: 15%;
    /* need to figure out how to center this properly */
    margin-left: 55%;
    box-shadow: 5px 5px 18px #413125;
    /* text-align: center; */
  }

  /* icons */
  .icons {
    margin-bottom: 2%;
  }

  .fa-brands{
    color: #3a713c;
  }

  #about-me{
    display: flex;
  }

  #icons {
    justify-content: center;
  }


/*portfolio image of me 
I cant get my profile image to stay centered when trying to make it mobile responsive */
  .responsive {
    width: 17%;
    height: auto;
    border-radius: 50%;
    display: block;
    transform: rotate(18deg);
    margin-top: 15%;
    margin-left: 33%;
  }